# Database
DATABASE_URL="postgresql://username:password@localhost:5432/mot_alert"

# NextAuth
NEXTAUTH_URL="https://mot-alert.com"
NEXTAUTH_SECRET="mot-alert-secret-key-2024-32-chars-long"

# App
NEXT_PUBLIC_APP_URL="https://mot-alert.com" 